* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 0 80px;
  font-family: Arial, Helvetica, sans-serif;
  background: url(./background.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

#main-content {
  max-width: 800px;
  padding: 80px 0;
}

/* Header */
.header {
  margin-bottom: 60px;
}
.logo {
  max-width: 200px;
}
.title {
  margin: 20px 0;
  font-weight: 600px;
  font-size: 30px;
}

/* Questions */
.question-wrp {
  margin-bottom: 40px;
}
.question {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 400;
}
.anwer {
  font-size: 15px;
}
